Title: Home

hr

markdown:

  I help build the web. Or, more specifically, I do full-stack web programming* projects
  for large and small businesses (and some for fun). I also have experience applying various
  technologies to business strategy, and I enjoy helping in brainstorming of every kind.

hr

.clearfix
  h3 Contact Me
  ul
    li= email_link('jonathan@camenischcreative.com')
    li 405.806.0173
    li
      a href='http://twitter.com/jcamenisch' @jcamenisch
      |  on Twitter

hr
  markdown:
    ### Some Server-Side Projects and libraries

    * See [Github](https://github.com/jcamenisch)

hr

  markdown:
    ### Some Past Front-End Projects ###

    * [Caribbean Hotels](http://caribbeanhotels.com)

      front-end development in Javascript, CSS (Sass), etc.

    * [Rebecca's Silver Rose](http://rebeccassilverrose.com)

      Custom PHP CMS for super-lightweight management of static content;
      Custom design, hand-coded in HTML, CSS, and Javascript;
      Custom slider behavior that would later turn into the "slideable" jQuery plugin

    * [Herring Gas Co.](http://herringgas.com)

      Custom design in HTML, CSS, and Javascript
      Implementation in Webvanta hosted CMS
      Some custom business logic implemented in Javascript (as no server-side programming was avaiable)

    * [Robert & Kay Camenisch](http://randkcamenisch.com)

      Custom, hand-coded design;
      Implementation in Radiant CMS;
      Later assisted in moving to WordPress (after Radiant became difficult to support)

    * [Character First the Magazine](http://cfthemagazine.com)

      Custom, hand-coded design, based on existing branding and colors

hr

.footer
  markdown:
    \*For those who are interested, my tools of choice usually start with Ruby on the server-side,
    and include frameworks like Rails, Sinatra, jQuery, Backbone.js, etc. On a given day, I'll touch many
    other tools and technologies, and a few languages, and keep learning as much as I can.

    This little site is powered by [Nesta](http://nestacms.com/) and hosted by [Heroku](http://heroku.com).
