- @title = 'Résumé'
- @body_class = 'resume'

markdown:

  Jonathan Camenisch
  ==================

  <hr />

  ## Profile

  Web developer, business technologist, and problem solver with an ecclectic background.
  Especially experienced in Ruby and Javascript development; student of Object-oriented design,
  with some functional programming influences.

  <hr />

  ### Professional Experience

= partial :exp, locals: { company: 'Brighbit, LLC', title: 'Senior Developer', from_month: '1/2013', to_month: '1/2014' }
markdown:
  * Technical lead on full-stack Rails applications

= partial :exp, locals: { company: 'Freelancing projects', title: 'Developer', from_month: '1/2011', to_month: '12/2012' }
markdown:
  * Implement front-end design and rich behavior in html, CSS (Sass), and Javascript
  * Optimize code and workflow on small OctoPress sites
  * Create custom WordPress plugin for gamification of online learning for thousands of users
  * Interface directly with clients to manage project priorities and schedule
  * Implement CMS sites with Webpop, including custom
    [extensions](https://github.com/jcamenisch/webpop-boilerplate/tree/master/extensions) in Javascript

= partial :exp, locals: { company: 'Character First', title: 'I.T. Director', from_month: '7/2001', to_month: '11/2010' }
markdown:
  * Support business technology and related processes
  * Assist in development of company strategy
  * Develop and design custom websites
  * Customize (hack) e-commerce site built on internal ERP software
  * Build online learning [site](http://library.characterfirst.com/) with custom PHP micro framework;
    later migrate to [SilverStripe](http://www.silverstripe.org/) CMS
  * Build publishing [site](http://cfthemagazine.com/) with [SilverStripe](http://www.silverstripe.org/) CMS.
  * Replace myself with labor-saving SaaS platforms when it became feasible:
    e.g. Google Apps, IP PBX service, Shopify

= partial :exp, locals: { company: 'IBLP', title: 'Boys Ranch Counselor', from_month: '6/1998', to_month: '12/2000' }
markdown:
  * Support juvenile delinquents in school, daily life, and personal growth

= partial :exp, locals: { company: 'IBLP', title: 'Software Developer', from_month: '8/1996', to_month: '5/1998' }
markdown:
  * Create course enrollment tracking system with Delphi & SQL Server
  * Create hotel occupancy system with ObjectPAL (Borland Paradox)
